*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}
header{
    width:100%;
    display: flex;
    align-items: center;
    gap:40px;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    position: fixed;
    background-color: #FFFFFF;
}

.headerLeft{
    display: flex;
    align-items: center;
    gap: 15px;
}
.logo{
    padding: 24px 30px;
    border-right: 1px solid #F2F2F2;
}

.headerAdress{
    padding: 20px 30px;
}
.headerAdress h3{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
    align-items: center;
}
.headerAdress p{
    font-size: 14px;
    color: #555;
}
.search{
    flex-grow: 1;
    background-color: #f8f8f8;
    display: flex;
    border-left: 1px solid #ccc;
    border-radius: 10px;
    border: 1px solid #f4f4f4;
    display: flex;
}
.search button{
    padding: 10px;
    border: none;
    background-color: transparent;
    
}
.search input{
    flex-grow: 1;
    background-color: transparent;
    border: none;
}
.search input:focus{
    outline: none;
}
.headerBtn{
    display: flex;
    gap:40px;
    margin-right: 40px;
}
.headerBtn button{
    padding: 15px;
    background-color: transparent;
    border: none;
    font-size: 16px;
}
.headerBtn button:last-child{
    color: white;
    border-radius: 5px;
    font-weight: bold;
    background-color: rgb(12,131,31);
}

.bannerSection{
    max-width: 1280px;
    margin:  auto;
}
.bannerSection img{
    width: 100%;
    height: auto;
    margin-top: 80px;
}
.orderBanner{
    display: flex;
    max-width: 1280px;
    margin: auto;
}
.orderBannerItem{
    flex-basis: 27%;
    margin: 1%;
}
.orderBannerItem img{
    width: 100%;
}
.categorySection{
    max-width: 1280px;
    flex-wrap: wrap;
    display: flex;
    margin: auto;
}
.categoryItems{
    flex-basis: 10%;
}
.categoryItems Img{
    width: 100%;
}
.productSection{
    max-width: 1280px;
    margin: auto;
    margin-top: 30px;
}
.headingRow{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}
.headingRow h2{
    font-size: 22px;
}
.headingRow a{
    font-size: 14px;
    text-decoration: none;
    color: rgb(12,131,31);
    font-weight: 600;
    
}
.productRow{
    width: 100%;
    margin: 30px 0px;
    display: flex;
    gap: 2%;
    
}
.productItem{
    flex-basis: 20%;
    box-shadow: 0px 0px 10px 2px #fcfcfc;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin-bottom: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.productImage{
    text-align: center;
    padding: 15px;
    
}
.productImage p{
    background-color: #f8f8f8;
    display: flex;
    width: 60px;
    gap: 5px;
    justify-content: center;
    padding: 2px;
    align-items: center;
    font-size: 12px;
    text-align: left;
}
.productContent{
     padding: 15px;
     padding-top: 0px;
}
.productContent h3{
    font-size: 14px;
    margin-bottom: 15px;
    font-weight: 600;
}
.productContent p{
    font-size: 14px;
    margin-bottom: 15px;
    color: #555;
}   
.btnPriceOuter{
    display: flex;
    margin-top: auto;
    justify-content: space-between;
    align-items: center;
}
.btnPriceOuter button{
    padding: 7px 15px;
    color: #328839;
    background-color: #f7fff9;
    border: 1px solid #328839;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}   


footer{
    padding: 40px 0px 0px 0px;
}
.footerMid{
    max-width: 1280px;
    margin: auto;
}
.footer-mid-row1{
    width: 100%;
    display: flex;
    gap: 40px;
}
.footer-mid-row1-left{
    flex-basis: 30%;
}
.footer-mid-row1-left h3{
    margin-bottom: 20px;
}
.usefulLinks{
    display: flex;

}
.usefulLinks ul{
    flex-basis: 33%;
    list-style: none;
}
.usefulLinks ul li a{
    gap:14px;
    text-decoration: none;
    margin-bottom: 15px;
    font-size: 15px;
    color : rgb(102,102,102);
    display: block;
}
.footer-mid-row1-right{
    flex-basis: 70%;
}
.CategoriesHeadingRow a{
    color:green;
}
.CategoriesHeadingRow{
    display: flex;
    margin-bottom: 20px;
    gap:15px;
}
.usefulLinks_2{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.usefulLinks_2 ul{
    flex-basis: 33%;
    list-style: none;
}
.usefulLinks_2 ul li a{
    text-decoration: none;
    margin-bottom: 15px;
    font-size: 15px;
    color : rgb(102,102,102);
    display: block;
}
.footer-mid-row3 p{
    padding: 20px 0px;
    gap:15px;
    line-height: 20px;
    font-size: 14px;
    color : rgb(102,102,102);
}
.footer-mid-row2{
    background-color: #fcfcfc;
    width: 100%;
    display: flex;
    padding: 20px 0px;
    align-items: center;
}
.footer-mid-row2 p{
    color:  rgb(102,102,102);
    flex-basis: 40%;
    font-size: 14px;
    text-align: center;
}
.appIcons{
    margin-top: auto;
    display: flex;
    align-items: center;
    flex-basis: 30%;
    gap: 15px;
    color : rgb(102,102,102);
    }
.socialIcon{
    flex-basis: 30%;
    display:flex;
    gap:15px;
}
